<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:label="@string/app_name"
		android:supportsRtl="true">
		<service
			android:name=".NotificationListener"
			android:exported="true"
			android:label="NotificationListenerService"
			android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService" />
			</intent-filter>
		</service>
	</application>

</manifest>